@page "/Bot"

<div>
    <h1>Custom Bots</h1>
</div>

<div>
    <label id="Insert Token"> Inser Token </label>
    <input id="Insert Token" />
</div>

@code {
    // Implement logic to accept the token with and without button
}
