@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h1>CloudCord</h1>
</div>

<div>
    <h4>About CloudCord</h4>
    <p>A site where you can make your own custom discord bot without any coding!</p>

    <h4>Instructions</h4>
    <p>Make a discord bot application by following discord standard instructions.</p>
    <p>Paste your token to CloudCord, and it will allow you to customize your bot how you want.</p>

    <p>This applicaiton is those who do not know how to code or the ones that are lazy to code a bot and want small customizations for their own server.</p>
</div>


@code{

}