@page "/Login"

<div>
    <h3>Login</h3>
</div>

<div>
    <label id="username">Username</label>
    <input id="username"/>

    <label id="password">Password:</label>
    <input id="pawssword" />
</div>

@code {
    //Implement logic to login to the account


    // Account should have Token's Username, Password ... 
}
