@page "/Signup"

<div>
    <h3>Signup</h3>
</div>

<div>
    <label id="username">UsernameL</label>
    <input id="username" />

    <label id="email">email</label>
    <input id="email" />

    <label id="password">Password:</label>
    <input id="pawssword" />

    <label id="confirm-password">Confirm password:</label>
    <input id="confirm-password" />
</div>

@code {

}
