@using Cloudcord.Models

<div class="space">
    @if (Piece.HasValue)
    {
        <div class="piece-@Piece.Value.ToString().ToLower()"></div>
    }
</div>

@if (Piece != null)
{
    
}

@code {
    [Parameter]
    public PieceEnum? Piece  { get; set; }
}
